.card {
  opacity: 0;
  border: 1px solid #999;
  border-radius: 4px;
  width: 40px;
  height: 50px;
  margin: 2px;
  padding: 1px;
  animation: cardBuildIn 0.7s;
  animation-fill-mode: both;
}

.cardOver {
  animation: cardOverAnim 0.7s;
  animation-fill-mode: both;
}

.cardOut {
  animation: cardOutAnim 0.07s;
  animation-fill-mode: both;
}

#theplace {
  display: flex;
  flex-flow: row wrap;
}

@keyframes cardBuildIn {
  from {
    opacity: 1;
    transform: rotateZ(180deg);
  }
  to {
    opacity: 1;
  }
}

@keyframes cardOverAnim {
  to {
    opacity: 1;
    background-color: #ff0;
    transform: scale(1.2);
  }
}

@keyframes cardOutAnim {
  from {
    opacity: 1;
    transform: scale(1.2);
    background-color: #ff0;
  }
  to {
    opacity: 1;
    transform: scale(1);
    background-color: white;
  }
}
